@model List<Producto>

@{
    ViewData["Title"] = "Productos";
    var count = 1;
    DateTime localDate = DateTime.Now;
}

<!--<a class="btn btn-success" role="button" asp-action="Registrar">Registrar</a>-->

<table class="table" id="dtBasicExample">
        <tr class="table-success">
            <th scope="col">
                nombreProducto
            </th>
            <th scope="col">
                descripcion
            </th>
            <th scope="col">
                precio
            </th>
            <th scope="col">
                celular
            </th>
            <th scope="col">
                direccion
            </th>
            <th scope="col">
                nombreUsuario
            </th>
            <th scope="col">
                Fecha
            </th>
            <th></th>
        </tr>
        @if (Model.Count == 0) {
            <tr>
                <td colspan="4" class="text-center">No se han encontrado registros. <br>Ingrese registros porfavor.</td>
            </tr>
        }
        @foreach (var contacto in Model) 
        {
            <tr>
                <td>
                    @contacto.nombreProducto
                </td>
                <td>
                    <img src="/img/xd.jpg" alt="" height="100" width="100">
                    @contacto.descripcion
                </td>
                <td>
                    @contacto.precio
                </td>
                <td>
                    @contacto.celular
                </td>
                <td>
                    @contacto.direccion
                </td>
                <td>
                    @contacto.nombreUsuario
                </td>
                <th>
                    @localDate
                </th>
                <td>
                    <form asp-action="Eliminar" method="post">
                        <input type="hidden" name="id" value="@contacto.id" />
                        <button class="btn btn-danger">Borrar</button>
                    </form>                    
                </td>
            </tr>
            count++;
        }
</table>
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-end">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>
    